#contactPage {
  margin: 1rem auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  min-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 60rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: aliceblue;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.342);
}

.submitBtn {
  border: none;
  background: #fff;
  padding: 0.75rem 3.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.submitBtn:active {
  box-shadow: 5px 5px 12px rgb(0, 0, 0);
  transform: scale(0.9);
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  width: 2.4rem;
  margin: 0 0.75rem;
}

@media screen and (max-width: 1000px) {
  .contactPageTitle {
    font-size: 2rem;
  }
  .name,
  .email,
  .msg {
    max-width: 45rem;
  }
}

@media screen and (max-width: 750px) {
  .contactPageTitle {
    font-size: 1.5rem;
  }
  .name,
  .email,
  .msg {
    max-width: 35rem;
  }
}

@media screen and (max-width: 600px) {
  .name,
  .email,
  .msg {
    max-width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .name,
  .email,
  .msg {
    max-width: 20rem;
  }
}
